#DATA STRUCTURE

1. What are data structres, and why are they important?
    - Data structures are ways to organize and store data in a program. They are important because they help in managing data efficiently, making programs faster and more organized.

2. Explore the difference between mutable and immutable data types with examples.
    - * Mutable: Can be changed after creation.
        e.g., lists([1,2,3]), dictionaries ({'a': 1, 'b': 2})
      * Immutable: Cannot be changed after creation.
        e.g., Tuples ((1,2,3)), Strings("hello").

3. What are the main differences between lists and tuples in Python?
    - * List are made, so you can change them after creation. e.g., [1,2,3]
      * Tuples are immutable, so they can't be changed after creation. e.g., (1,2,3).
      * Lists are slower but flexible, while Tuples are faster but fixed.

4. Describe how dictionaries store data.
    - Dictionaries stores data as key - Value pairs. Each key is unique and maps to a specific value. Examples:

In [1]:
student = {'name': 'Alexa', 'age': 25}
print (student['name'])

Alexa

5. Why might you use a set instead of a list in Python?
    - Sets are used when you need unique values because they automatically remove duplicates. They are also faster for checking if an items exists.

6. What is a string in Python, and how is it different from list?
    - A string is a sequence of characters ("hello"), while list is a collection of items (["h", "e", "l", "l", "O"]).
     Lists are mutable while strings are immutable.

7. How do tuples ensure data integrity in Python?
    - Since tuples can not be changed(immutable), they protect data from accidental modification, making item ideal for fixed records.

8. What is a hash table, and how does it relates to dictionaries in Python?
    - A hash table is a data structure that stores key - value pairs using a unique index(hash). Python dictionaries use hash tables to quickly find and retrieve values.

9.  Can lists contains different data types in Python?
    - Yes, lists can hold multiple data types in the same list. e.g.,
     mixed_list = [1, "hello", 3.14, True].

10. Explain why strings are immutable in Python?
    - Strings are immutable to ensure secrurity, memory efficieny, and performance optimization.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries allow fast lookups because they store data as key-value pairs, instead of searching through list, you can directly access values using a key.

12. Describe a scenerio where using a tuple would be praferable over a list.
    - If you have a set of constant values that should never change, like the coordinates of a location. (10.5, 20.3), a tuple is better.

13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicates when data is added. Example:

In [2]:
my_set = {1,2,2,3}
print(my_set)

{1, 2, 3}

14. How does "in" keyword works differently for lists and dictionaries?
    - In lists, "in" checks if an item is present.

In [3]:
print(3 in [1,2,3])

True

    - In dictionaries "in" checks if a key exists, not the values.

In [4]:
my_dict = {"a": 1, "b": 2}
print ("a" in my_dict)

True

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, tuples are immutable, meaning you can't change their elements after creation.

16. What is nested dictionaries, and give an example of its use case?
    - A nested dictionaries is a dictionary inside another dictionary. Example:

In [5]:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}
print(students["Alice"]["grade"])

A

17. Describe the time complexity of accessign elements in a dictionary.
    - Accessing an element in a  dictionary is 0(1) (constant time) because it uses hash tables, making lookups very fast.

18. In what situations are list preferred over dictionaries?
    - When you need to store ordered data and works with sequences, lists are better.

19. Why are dictionaries considered unordered, and how does that affects data retrieval?
    - Dictionaries do not store elements in a fixed ordered (before python 3.7). This means retrieving data follows key - based lookup, not position - based access.

20. Explain the difference between a list and a dictionary in terms of data retrived.
    - * Lists use index-based retrived (my_list[0]).
      * Dictionaries use key-based retrieved (my_dict['key']), which is usually faster.

PRACTICAL QUESTIONS

In [6]:
# 1. Create a string with your name and print it.
name = "Alok"
print(name)

Alok

In [8]:
# 2. Find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [9]:
# 3. Slice the first 3 characters from "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [10]:
# 4. Convert "hello" to uppercase.
word = "hello"
print(word.upper())

HELLO

In [11]:
# 5. Replace "apple" with "orange" in "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [12]:
# 6. Create a list with numbers 1 to 5 and print.
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [13]:
# 7. Append 10 to the list[1,2,3,4]
numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [14]:
# 8. Remove number 3 from [1,2,3,4,5]
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [15]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [16]:
# 10. Reverse the list [10,20,30,40,50]
numbers = [10,20,30,40,50]
print(numbers[::-1])

[50, 40, 30, 20, 10]

In [18]:
# 11. Create a Tuple with 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [19]:
# 12. Access the second-to-last element of ("red", "green", "blue", "yellow")
colors = ("red", "green", "blue", "yellow")
print(colors[-2])

blue

In [20]:
# 13. find the minimum number in (10,20,5,15)
numbers = (10,20,5,15)
print(min(numbers))

5

In [24]:
# 14. find the index of "cat" in ("dog", "cat", "rabbit")
animals = ("dog", "cat", "rabbit")
print(animals.index("cat"))

1

In [25]:
# 15. Create a set with three fruits and check if "kiwi" is in it.
fruits = {"apple", "banana", "cherry"}
print("kiwi" in fruits)

False

In [26]:
# 16. Create a set with {'a', 'b', 'c'} and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [27]:
# 17. Clear all elements from {1,2,3,4,5}.
numbers = {1,2,3,4,5}
numbers.clear()
print(numbers)

set()

In [28]:
# 18. Remove 4 from {1,2,3,4}
numbers = {1,2,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [30]:
# 19. find the union of {1,2,3} and {3,4,5}
set1 = {1,2,3}
set2 = {3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [31]:
# 20. Find the intersection of {1,2,3} and {2,3,4}
set1 = {1,2,3}
set2 = {2,3,4}
set1 & set2

{2, 3}

In [32]:
# 21. Create a dictionary with keys "names", "age", and "city" and print it.
my_dict = {"names": "Alok", "age": 24, "city": "Gurgaon"}
print(my_dict)

{'names': 'Alok', 'age': 24, 'city': 'Gurgaon'}

In [33]:
# 22. Add a key "Country" with the value "USA" to {'name': 'John', 'age': 25}
my_dict = {'name': 'John', 'age': 25}
my_dict["Country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'Country': 'USA'}

In [34]:
# 23. Access the value of "name" in {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [35]:
# 24. Remove 'age' from {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [36]:
# 25. Check if "city" exists in {'name': 'Alice', 'city': 'Peris'}
person = {'name': 'Alice', 'city': 'Peris'}
print('city' in person)

True

In [39]:
# 26. Create a list, a tuple and dictionary and print them.
my_list = [1,2,3]
my_tuple = (1,2,3)
my_dict = {1,2,3}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(1, 2, 3)
{1, 2, 3}

In [40]:
# 27. Generate 5 random numbers (1 - 100), sort in ascending order, and print.
import random
numbers = random.sample(range(1,101),5)
numbers.sort()
print(numbers)

[17, 22, 26, 87, 91]

In [41]:
# 28. Create a list of strings and print the element at index 3.
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [42]:
#29. Combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [43]:
# 30. Convert a list of strings into a set.
words = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(words)
print(my_set)

{'date', 'elderberry', 'cherry', 'banana', 'apple'}